.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: .75rem;
    border-radius: 1rem;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #e2185b;  
        color: white;
        cursor: pointer;
    }

    &:active{
        transform: scale(.9);
    }

}